select:focus {
    outline: none;
}

.main {
    justify-content: flex-start;
}

.select {
    text-align: left;
    background-color: var(--base);
    padding: 1em;
    border: none;
    border-radius: 0.75em;
    margin: 1em;
    color: var(--text-color);
}

.search {
    flex-shrink: 0
}

.searchbar:focus {
    outline: none;
}

.apps {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: var(--main-width);
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--base) transparent; 
    scrollbar-width: thin;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--main-width) / 90);
    padding: calc(var(--main-width) / 50);
    margin: calc(var(--main-width) / 90);
    background-color: var(--background-color);
    border-radius: 0.75em;
    max-width: calc(var(--main-width) / 15);
    height: calc(var(--main-width) / 10);
    text-align: center;
    word-break: break-all;
}

.app:hover {
    filter: brightness(1.2)
}

.hiddenapp {
    display: none;
}

.appimage {
    border-radius: 10px;
}