---
// would you rather have unlimited bacon, but no games, or games, unlimited games, but no games?
import Layout from '@l/Layout.astro';
import games from '../games.json';
---

<Layout name="Games">
    <link slot="head" rel="stylesheet" href={replacement + '/assets/css/pages/apps.css'}>
	<div class="main">
        <form class="search" id="search">
            <input type="text" id="searchApps" class="searchbar" placeholder="Search games...">
            <select id="sortApps" class="select">
                <option value="alphabetical">Alphabetical</option>
                <option value="recent">Recently Added</option>
            </select>
		</form>
		<div id="apps" class="apps">
			{games.map((game) => (
				<a href={game.url ?? `/search?q=` + encodeURIComponent(game.proxyUrl)} class="app" data-name={game.name.toLowerCase()}>
					<img class="appimage" src={game.image} alt={game.name} />
					<span class="name">{game.name}</span>
				</a>
			))}
		</div>
	</div>

	<script>
		import { filterApps, orderApps } from "../utils/apps";
		const searchApps = document.getElementById('searchApps') as HTMLInputElement | null;
		const sortApps = document.getElementById('sortApps') as HTMLSelectElement | null;
		const apps = document.getElementById('apps') as HTMLElement | null;
		const appElements = Array.from(document.querySelectorAll<HTMLElement>('.app'));
		const search = document.getElementById('search') as HTMLFormElement | null;
		
		if (searchApps && sortApps && apps) {
			const order = orderApps(appElements);
			
			const filter = () => filterApps(searchApps, sortApps, apps, appElements, order);
			
			searchApps.addEventListener('input', filter);
			sortApps.addEventListener('change', filter);
			filter();
		}
		
		if (search) {
			search.addEventListener('submit', (e: Event) => e.preventDefault());
		}
	</script>
</Layout>