---
// would you rather have unlimited bacon, but no games, or games, unlimited games, but no games?
import Layout from '@l/Layout.astro';
const Define = `<script>
	const replacement = '${replacement}';
</script>`;
---

<Layout name="Games">
	<link slot="head" rel="stylesheet" href={replacement + '/assets/css/pages/apps.css'}>
	<Fragment set:html={Define} />
	<div class="main">
		<form class="search" id="search">
			<input type="text" id="searchApps" class="searchbar" placeholder="Search games...">
			<select id="sortApps" class="select">
				<option value="alphabetical">Alphabetical</option>
				<option value="recent">Recently Added</option>
			</select>
		</form>
		<div id="apps" class="apps">
			<p id="loading">Loading games...</p> 
		</div>
	</div>

	<script>
		import { filterApps, orderApps, loadApps } from "../utils/apps";
		const searchApps = document.getElementById('searchApps') as HTMLInputElement | null;
		const sortApps = document.getElementById('sortApps') as HTMLSelectElement | null;
		const apps = document.getElementById('apps') as HTMLElement | null;
		const search = document.getElementById('search') as HTMLFormElement | null;
		const loading = document.getElementById('loading') as HTMLParagraphElement | null;
		const path = replacement + '/games.json';
		const fallbackpath = './games.json';
		const handleSuccess = (appsData: any) => {
			if (loading) loading.remove();
			if (!apps) return;
			const appElements = loadApps(appsData, apps, replacement); 
			const order = orderApps(appElements);

			if (searchApps && sortApps) {
				const filter = () => filterApps(searchApps, sortApps, apps, appElements, order);
				searchApps.addEventListener('input', filter);
				sortApps.addEventListener('change', filter);
				filter();
			}
		};

		const fetchApps = (path: string, fallback?: boolean) => {
			return fetch(path)
				.then(response => {
					return response.json();
				})
				.then(apps => handleSuccess(apps))
				.catch(error => {
					if (!fallback && path === path) {
						return fetchApps(fallbackpath, true);
					}
				});
		};

		if (apps && loading) {
			fetchApps(path);
		}
		
		if (search) {
			search.addEventListener('submit', (e: Event) => e.preventDefault());
		}
	</script>
</Layout>