---
import Layout from '@l/Layout.astro';
---

<Layout>
	<div class="main">
		<div class="title">
			<img class="title-image" src={replacement + '/assets/imgs/nuggets.png'}>
			<h1>Nuggets</h1>
			<p class="desc">A web proxy built for simplicity, gaming and near-global hosting compatibility.</p>
		</div>
		<form class="search" id="search">
			<input id="url" spellcheck="false" autocomplete="off" autocapitalize="off" class="searchbar" type="text" placeholder="Start Searching...">
		</form>
	</div>
    <script>
        import { handleSearch } from "../utils/search";
        const search = document.getElementById('search') as HTMLFormElement | null;
        const url = document.getElementById('url') as HTMLInputElement | null;
        if (search && url) {
            search.addEventListener('submit', (event: Event) => {
                handleSearch(search, url, event);
            });
        }
    </script>
</Layout>
