---
import Svg from '@c/Svg.astro';
---
<div class="SideBarToggle hidden" id="sidebartoggle">
    <Svg title="Show Sidebar" class="bar-item" name="arrow" style="transform: rotate(180deg); transform-origin: center;" id="sidebarshow" url="#"/>
</div>
<script>
    import { hideSidebar, showSidebar } from "../utils/sidebar";
    const sidebar = document.getElementById('sidebar');
    const toggle = document.getElementById('sidebartoggle');
    const hide = document.getElementById('sidebarhide');
    const show = document.getElementById('sidebarshow');
    if (sidebar && toggle && hide && show) {
        hide.addEventListener('click', function(e: Event) { e.preventDefault(); hideSidebar(sidebar, toggle); });
        show.addEventListener('click', function(e: Event) { e.preventDefault(); showSidebar(sidebar, toggle); });
    }
</script>
<div id="sidebar" class="SideBar shown">
    <div>
        <Svg title="Home" class="bar-item" name="outline" url={import.meta.env.parent + '/'}/>
        <hr>
        <div class="pages icons">
            <Svg title="Search" class="bar-item" name="pages" url={import.meta.env.parent + '/search'}/>
            <Svg title="Games" class="bar-item" name="games" url={import.meta.env.parent + '/games'}/>
            <Svg title="Applications" class="bar-item" name="apps" url={import.meta.env.parent + '/apps'}/>
            <Svg title="Settings" class="bar-item" name="settings" url={import.meta.env.parent + '/settings'}/>
        </div>
    </div>
    <div>
        <div class="icons">
            <Svg title="Cloak with about:blank" class="bar-item" name="open" id="cloak" url="https://classroom.google.com"/>
            <Svg title="Hide Sidebar" class="bar-item" name="arrow" id="sidebarhide" url="#"/>
        </div>
        <script>
            import { handleCloak } from '../utils/cloak';
            const button = document.getElementById('cloak');
            if (window.self !== window.top) button?.remove();
            button?.addEventListener('click', () => {
                handleCloak();
            });
        </script>
    </div>
</div>