---
import Svg from '@c/Svg.astro';
---
<div class="SideBarToggle hidden" id="sidebartoggle">
    <Svg title="Show Sidebar" class="bar-item" name="show" id="sidebarshow"/>
</div>
<script>
    import { hideSidebar, showSidebar } from "../utils/sidebar";
    const sidebar = document.getElementById('sidebar');
    const toggle = document.getElementById('sidebartoggle');
    const hide = document.getElementById('sidebarhide');
    const show = document.getElementById('sidebarshow');
    if (sidebar && toggle && hide && show) {
        hide.addEventListener('click', function(e: Event) { e.preventDefault(); hideSidebar(sidebar, toggle); });
        show.addEventListener('click', function(e: Event) { e.preventDefault(); showSidebar(sidebar, toggle); });
    }
</script>
<div id="sidebar" class="SideBar shown">
    <div>
        <Svg title="Home" class="bar-item" name="outline" url="/"/>
        <hr>
        <Svg title="Search" class="bar-item" name="pages" url="/search"/>
        <div class="pages icons">
            <Svg title="Games" class="bar-item" name="games" url="/games"/>
            <Svg title="Documentation" class="bar-item" name="book" url="/docs"/>
            <Svg title="About us" class="bar-item" name="about" url="/about"/>
        </div>
        <hr>
        <div class="shortcuts icons">
            <Svg title="Youtube" class="bar-item" name="video" proxyUrl="https://youtube.com"/>
            <Svg title="GeForce NOW" class="bar-item" name="geforce" proxyUrl="https://play.geforcenow.com/mall/"/>
            <Svg title="Discord" class="bar-item" name="discord" proxyUrl="https://discord.com/app/"/>
        </div>
    </div>
    <div>
        <Svg title="Cloak with about:blank" class="bar-item" name="open" id="cloak"/>
        <Svg title="Hide Sidebar" class="bar-item" name="hide" id="sidebarhide"/>
        <script>
            import { handleCloak } from '../utils/cloak';
            const button = document.getElementById('cloak');
            if (window.self !== window.top) button?.remove();
            button?.addEventListener('click', () => {
                handleCloak();
            });
        </script>
    </div>
</div>