---
import { svgMap } from '../../svg.map';
interface Props {
  name: string,
  url?: string,
  proxyUrl?: string,
  target?: string,
  class?: string,
  innerClass?: string,
  style?: string,
  id?: string,
  title: string,
}

let { name, url, proxyUrl, target, class: Class, innerClass, style: sty, id, title } = Astro.props;
const style = `color: var(--text-color); ${sty || ''}`; 
const SvgContent = svgMap.get(name);
if (proxyUrl) url=`/search?q=${encodeURIComponent(proxyUrl)}`;
---

<a title={title} {...(id && { id: id })} {...(Class && { 'class:list': [Class] })} style="text-decoration: none;" {...(url && { href: url })} {...(target && { target: target })}>
  <SvgContent {...(innerClass && { 'class:list': [innerClass] })} style={style}/>
</a>