:root {
    --background-color: #1e2030;
    --border-bar: 2px solid #181926;
    --base: #24273a;
    --text-color: #f88c00;
    --font: Nuggets;
    --sidebar-width: 35px;
    --main-width: calc(100vw - 35px);
}