---
import SideBar from '@c/SideBar.astro';
interface Props {
    name?: string;
}

const { name } = Astro.props;
let title = "Nuggets"
if (name) title = name + " | Nuggets";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator}>
		<link id="favicon" rel="icon" type="image/svg+xml" href={replacement + '/assets/svg/favicon.svg'}>

		<link rel="stylesheet" href={replacement + '/assets/css/global.css'}>
		<link id="theme" rel="stylesheet" href={replacement + '/assets/css/themes/default.css'}>
		<meta name="description" content="A very nuggety proxy">
		<meta name="keywords" content="Nuggets, Proxy, Chicken Nugget, soap phia, Synaptic, Nugget, Nugget Corporation, EpicDevices, John Moderation">
		<slot name="head"/>
	</head>
	<body>
		<SideBar/>
		<slot/>
	</body>
</html>
